body {
  background: #eee;
  font-family: Verdana, sans-serif;
  font-size: 8px;
}
#results table {
  border: 0px solid #000;
  border-collapse: collapse;
}
#results th {
  padding: 4px;
  border: 1px solid #000;
  background-color: #6AA57B;
  font-size: 11px;
}
#results td {
  padding: 4px;
  border: 1px solid #000;
  font-size: 11px;
}
#results tr.row0 {
  background-color: #A3BDF5;
}
#results tr.row1 {
  background-color: #9ADF9A;
}
img {
  border: 0px;
}
#footer {
  font-size: 8px;
}
#debug {
  border: 1px dotted #fff;
  background-color: #c00;
  color: #fff;
  font-size: 8px;
}
#debug td {
  padding: 4px;
  color: #fff;
  font-size: 10px;
}
.blank {
  background-color: transparent;
}
.sub {
  background-color: #cfc;
}
.subattr {
  background-color: #cfc;
}
