/application/config/database.php
/application/config/config.php
/application/logs/*.php
/uploads/*.adi
/uploads/*.ADI
/uploads/*.tq8
/uploads/*.TQ8
/install/*
/updates/*.xml
/updates/*.html
/images/eqsl_card_images/*.jpg
/updates/clublog_scp.txt
.idea/*
.DS_Store
sync.sh
dwsync.xml
/favicons/*
favicon.icoold
updates/cty.xml.gz
