/application/config/database.php
/application/config/config.php
/application/config/managed.php
/application/config/managed.sample.php
/application/cache/*
!/application/cache/index.html
!/application/cache/.htaccess
/application/logs/*.php
/uploads/*.adi
/uploads/*.ADI
/uploads/*.tq8
/uploads/*.TQ8
/install/*
/updates/*.xml
/updates/*.html
/images/eqsl_card_images/*.jpg
/updates/clublog_scp.txt
/assets/qslcard/*
/assets/sstvimages/*
/assets/js/sections/custom.js
/cypress/screenshots
/node_modules/
.idea/*
.DS_Store
sync.sh
*.p12
*.swp
.env
/node_modules
/.vs
.vscode/sftp.json
/assets/json/pota.txt
/assets/json/pota_parks.csv
/assets/json/sota_summits.csv