/*!
 * No overrides for the default theme as it aligns with general.css
*/
:root {
	--cl-border-btn-pwd: var(--bs-body-bg);
}

.table {
	--bs-table-border-color: #444444;
	--bs-table-color: #fff;
	--bs-table-striped-color: #fff;
	--bs-table-active-color: #fff;
	--bs-table-hover-color: #fff;
	--bs-table-accent-bg: #303030;
}

.qslprint {
	--bs-table-striped-bg: none;
}

.table-striped tbody > tr.activeRow {
    background-color: #5cb85c !important;
	--bs-table-accent-bg: none;
}

.border-top {
	--bs-border-color: #444444;
}

.text-bg-light {
	color: black !important;
}

.awardsBgDanger a {
	color: white;
}

.awardsBgSuccess a{
	color: white;
}

/*
*	Dark Maps
*/

.leaflet-tile {
	filter: invert() hue-rotate(180deg) grayscale(0.8) brightness(1.2) !important;
}

path.grid-rectangle {
	stroke: rgba(200, 200, 200, 0.5);
}

span.grid-text > font {
	color: rgba(220, 220, 220, 0.85) !important;
	-webkit-text-stroke: 1px black !important;
}

path.grid-confirmed {
	fill: rgba(144, 238, 144, 0.15) !important;
	stroke: rgba(144, 238, 144, 0.15) !important;
}

path.grid-worked {
	fill: rgba(220, 50, 50, 0.25) !important;
	stroke: rgba(220, 50, 50, 0.25) !important;
}

.map-leaflet {
	background-color: #343d3f!important;
}

/* 
*	Dark Navigation 
*/

/* Navigation background */

.bg-light {
	background-color: #303030 !important;
}

/* Inactive Links */

.navbar-light .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.6);
}

/* Active Links and Logo */

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}

/* Hamburger Menu */

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.6%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* 
*	Dark inputs 
*/

.form-control,
.form-control-sm,
.form-control:focus,
.form-control:disabled,
.form-select {
	background-color: rgba(20, 20, 20, 0.5);
	color: #eee;
}
.form-select {
	--bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

select optgroup,
select option {
	background-color: #222;
}

div.alert-success a,
div.alert-danger a,
div.alert-danger {
	color: #ffffff;
}

.bootstrap-dialog.type-primary .modal-header {
	background-color: #222222;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
	color: #fff;
}

.selectize-input,
.selectize-control.single .selectize-input.input-active {
	background: #222222;
	color: #fff;
}

.selectize-input.full {
	background-color: #222222;
}

.selectize-dropdown,
.selectize-dropdown.form-control {
	background: #222222;
}

.selectize-input.focus {
	color: #444;
	background-color: #fff;
	border-color: #739ac2;
	box-shadow: 0 0 0 0.2rem rgba(55, 90, 127, 0.25);
}

.selectize-dropdown,
.selectize-dropdown.form-control {
	border-radius: 0;
}

#lotw_badge {
	float: right;
}

#edit_qso:not(.btn) {
	float: left;
}

.qso_call {
	float: left;
	width: 140px;
}

.qso_icons {
	float: right;
}

#qsoList_wrapper th {
	text-align: left !important;
	white-space: nowrap;
}
#qsoList_wrapper td {
	text-align: left !important;
	white-space: nowrap;
}

.accordion {
	--bs-accordion-active-color: #FFFFFF;
	--bs-accordion-btn-bg: #444444;
	--bs-accordion-active-bg: #444444;
	--bs-accordion-border-color: #444444;
	--bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button.collapsed {
	border-bottom:1px solid var(--bs-body-bg);
}

/* CSS for Upcoming DXCC Component */
#upcoming_dxccs_component #worked_before {
	background-color: #ddffdd;
	width: 33%;
	color: #000;
}

#upcoming_dxccs_component #not_worked_before {
	background-color: #ffdddd;
	width: 33%;
	color: #000;
}