/*!
 * No overrides for the default theme as it aligns with general.css
*/

:root{
	--cl-border-btn-pwd:var(--bs-border-color);
}

.selectize-input {
	border-radius: 0;
}

.selectize-input {
	border: 1px solid #ced4da;
}

.selectize-input.dropdown-active {
	border-radius: 0;
}

.selectize-dropdown,
.selectize-dropdown.form-control {
	border-radius: 0;
}

.awardsBgDanger {
	background-color: #f8d7db !important;
}

.awardsBgSuccess {
	background-color: #d4edda !important;
}

TD.qrz {
	white-space: nowrap;
}

.accordion {
	--bs-accordion-btn-bg: #f9f9f9;
	--bs-accordion-active-bg: #f9f9f9;
}