/*!
 * No overrides for the default theme as it aligns with general.css
*/

:root{
	--cl-border-btn-pwd:var(--bs-border-color);
}

.selectize-input {
	border-radius: 0;
}

.selectize-input {
	border: 1px solid #ced4da;
}

.selectize-input.dropdown-active {
	border-radius: 0;
}

.selectize-dropdown,
.selectize-dropdown.form-control {
	border-radius: 0;
}

.awardsBgDanger {
	background-color: #f8d7db !important;
}

.awardsBgSuccess {
	background-color: #d4edda !important;
}

@media (min-width: 1500px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1400px
	}
}

@media (min-width: 1920px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1800px
	}
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#map {
	height: 500px !important;
}

#gridsquare_map {
	height: calc(100vh - 380px) !important;
	max-height: 900px !important;
}

@media (min-width: 992px) {
	.modal-lg, .modal-xl {
		max-width: 1300px;
	}
}

.modal-body {
	max-height: calc(100vh - 200px);
	overflow-y: auto;
}

#mapqso {
	height: 400px !important;
}

#qsomap {
	height: 400px !important;
}

#qsoList_wrapper th {
	text-align: left !important;
	white-space: nowrap;
}
#qsoList_wrapper td {
	text-align: left !important;
	white-space: pre-wrap;
}

TD.qrz {
	white-space: nowrap;
}

.accordion {
	--bs-accordion-btn-bg: #f9f9f9;
	--bs-accordion-active-bg: #f9f9f9;
}

.dxccsummaryheader:after {
	background-image: linear-gradient(to right, black 0, black 12ch, black 12ch, black 100%);
}