.container {
	margin-top: 55px;
}
.fancybox-content {
    width  : 710px !important;
    height : 310px !important;
    margin: 0;
}

.dashboard {
	padding-top: 15px;
}
.row.logdata {
	padding-top: 15px;
}