
.container {
	margin-top: 55px;
}

#nav-container {
	margin-top: 0;
	position: sticky;
	top: 0;
}

thead > tr > td {
	position: sticky;
	top: 45px;
	background-color: aliceblue;
}

.fancybox-content {
    width  : 710px !important;
    height : 310px !important;
    margin: 0;
}

.dashboard {
	padding-top: 15px;
}
.row.logdata {
	padding-top: 15px;
}

.statistics {
	padding-top: 15px;
}

.statistics_custom {
	padding-top: 15px;
}

.notes {
	padding-top: 15px;
}

.eqsl {
    padding-top: 15px;
}

.search {
	padding-top: 15px;
}

.logbook {
	padding-top: 15px;
}

.adif {
    padding-top: 15px;
}

.adif .alert p {
    margin-bottom: 0rem;
}

.api .alert p {
    margin-bottom: 0rem;
}


.qso_panel {
    padding-top: 25px;
}

.qso_panel #callsign {
    text-transform: uppercase;
}

.qso_panel #locator {
    text-transform: uppercase;
}

.qso_panel .iota_ref {
    text-transform: uppercase;
}

.qso_panel .sota_ref {
    text-transform: uppercase;
}

.workedGrid {
    border-color: green;
}

.newGrid {
    border-color: red;
    border-width: 2px;
}

#country {
    border: none;
}


TD.eqsl{
    width: 33px;
}

.eqsl-green{
    color: #00A000;
    font-size: 1.1em;
}
.eqsl-red{
    color: #F00;
    font-size: 1.1em;
}
.qsl-green{
    color: #00A000;
    font-size: 1.1em;
}
.qsl-red{
    color: #F00;
    font-size: 1.1em;
}
TD.lotw{
    width: 33px;
}
.lotw-green{
    color: #00A000;
    font-size: 1.1em;
}
.lotw-red{
    color: #F00;
    font-size: 1.1em;
}

.qso-edit-box {
    padding: 10px;
}

.previous-qsos .card-title {
    margin-bottom: 0px;
}

.qso-map .card-title {
    margin-bottom: 0px;
}

.qso-map {
    margin-bottom: 10px;
}

.callsign-suggest {
    margin-bottom: 10px;
}

.callsign-suggest .card-title {
    margin-bottom: 0px;
}



