:root {
	--cl-border-btn-pwd:var(--bs-border-color);
}

thead > tr > td {
	background-color: aliceblue !important;
}

.form-select {
	border: 1px solid #ced4da;
}

.selectize-input {
	border: 1px solid #ced4da;
}

.awardsBgDanger {
	background-color: #f8d7db !important;
}

.awardsBgSuccess {
	background-color: #d4edda !important;
}

#lotw_badge {
	float: right;
}

#edit_qso:not(.btn) {
	float: left;
}

.qso_call {
	float: left;
	width: 140px;
}

.qso_icons {
	float: right;
}

.btn {
	white-space: normal;
}

#qsoList_wrapper th {
	text-align: left !important;
	white-space: nowrap;
}

#qsoList_wrapper td {
	text-align: left !important;
	white-space: nowrap;
}

.accordion {
	--bs-accordion-btn-bg: #f9f9f9;
	--bs-accordion-active-bg: #f9f9f9;
}

.dxccsummaryheader:after {
	background-image: linear-gradient(to right, black 0, black 12ch, black 12ch, black 100%);
}
