/*!
 * No overrides for the default theme as it aligns with general.css
*/
:root {
	--cl-bg: #2b3e50;
	--cl-border-btn-pwd: var(--cl-bg);
}

body {
	background-color: var(--cl-bg);
}

.table {
	--bs-table-color: #fff;
	--bs-table-striped-color: #fff;
	--bs-table-active-color: #fff;
	--bs-table-hover-color: #fff;
	--bs-table-bg: #3d4e5e;
	--bs-table-accent-bg: var(--cl-bg);
}

.table-striped tbody > tr.activeRow {
    background-color: #5cb85c !important;
	--bs-table-accent-bg: none;
}

.border-top {
	--bs-border-color: #253544;
}

@media (min-width: 992px) {
	.modal-lg, .modal-xl {
		max-width: 1300px;
	}
}

.modal-body {
	max-height: calc(100vh - 200px);
	overflow-y: auto;
}

/*
*	 Maps
*/

.leaflet-tile {
	filter: invert() hue-rotate(180deg) sepia(100%) hue-rotate(180deg) !important;
}

path.grid-rectangle {
	stroke: rgba(200, 200, 200, 0.5);
}

span.grid-text > font {
	color: rgba(220, 220, 220, 1) !important;
	-webkit-text-stroke: 0.6px black !important;
}

path.grid-confirmed {
	fill: rgba(144, 238, 144, 0.4) !important;
	stroke: rgba(144, 238, 144, 0.4) !important;
}

path.grid-worked {
	fill: rgba(220, 50, 50, 0.4) !important;
	stroke: rgba(220, 50, 50, 0.4) !important;
}

.map-leaflet {
	background-color: #353c4a!important;
}

#map {
	height: 500px !important;
}

#mapqso {
	height: 400px !important;
}

#qsomap {
	height: 400px !important;
}

#gridsquare_map {
	height: calc(100vh - 380px) !important;
	max-height: 900px !important;
}

/* 
*	Dark Navigation 
*/

/* Navigation background */

.bg-light {
	background-color: #4e5d6c !important;
}

/* Inactive Links */

.navbar-light .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.6);
}

/* Active Links and Logo */

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}
.form-select {
	--bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

/* Hamburger Menu */

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.6%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* 
*	Dark inputs 
*/

.form-control,
.form-control-sm,
.form-control:focus,
.form-control:disabled,
.form-select {
	background-color: rgba(20, 41, 62, 0.6);
	color: #fff;
}

div.alert-danger {
	color: #ffffff;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.bootstrap-dialog.type-primary .modal-header {
	background-color: var(--cl-bg);
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
	color: #fff;
}

.selectize-input,
.selectize-control.single .selectize-input.input-active {
	background: #2b3d51;
	color: #fff;
}

.selectize-input {
	border-radius: 0;
}

.selectize-input.full {
	background-color: #2b3d51;
}

.selectize-dropdown,
.selectize-dropdown.form-control {
	background: #737f8b;
}

.selectize-input.focus {
	color: #495057;
	background-color: #fff;
	border-color: #f1b287;
	box-shadow: 0 0 0 0.2rem rgba(223, 105, 26, 0.25);
}

.selectize-input.dropdown-active {
	border-radius: 0;
}

.selectize-dropdown,
.selectize-dropdown.form-control {
	border-radius: 0;
}

.qso_call {
	float: left;
	width: 140px;
}

.qso_icons {
	float: right;
}

#qsoList_wrapper th {
	text-align: left !important;
	white-space: nowrap;
}
#qsoList_wrapper td {
	text-align: left !important;
	white-space: pre-wrap;
}

#lotw_badge {
	float: right;
}

#edit_qso:not(.btn) {
	float: left;
}

@media (min-width: 1500px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1400px
	}
}

@media (min-width: 1920px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1800px
	}
}

.accordion {
	--bs-accordion-bg: var(--cl-bg);
	--bs-accordion-btn-bg: #4e5e6c;
	--bs-accordion-active-bg: #4e5e6c;
	--bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button.collapsed {
	border-bottom: 1px solid var(--cl-bg);
}
.accordion-body {
	border: 1px solid #4e5e6c;
}

/* CSS for Upcoming DXCC Component */
#upcoming_dxccs_component #worked_before {
	background-color: #ddffdd;
	width: 33%;
	color: #000;
	box-shadow: none !important;
}

#upcoming_dxccs_component #not_worked_before {
	background-color: #ffdddd !important;
	width: 33%;
	color: #000;
	box-shadow: none !important;
}

#upcoming_dxccs_component a {
	color: darkblue;
}